<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Farm</title>
</head>

<body>
    <h1>Add a Farm</h1>
    <form action="/farm" method="POST">
        <label for="name">Farm's name</label>
        <input type="text" id="name" name="name" placeholder="Farm's name">
        <label for="location">Location</label>
        <input type="text" id="location" name="location" placeholder="Farm's location">
        <label for="website">Website</label>
        <input type="text" id="location" name="website" placeholder="Farm's website">
        <button>Add your new farm</button>
    </form>

    <a href="/farm">Back to All form</a>
</body>


</html>